body {
    font-family: 'Arial', sans-serif;
    margin: 0 50px;
    /*
    background-color: #e5e5e5;
    overflow: hidden;
    */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#tasks {
    max-height: 500px; /*스크롤가능한 보여지는 영역*/
    overflow-y: auto;
}

.bg_red { background-color: red !important; color:white;}
.bg_yellow { background-color: yellow !important;}
.bg_green { background-color: green !important;}
.bg_greenyellow { background-color: greenyellow !important;}
.bg_blue { background-color: blue !important; color:white;}
.bg_aqua { background-color: aqua !important;}
.bg_purple { background-color: purple !important; color:white;}

.bc_red { border-color: red !important;}
.bc_yellow { border-color: yellow !important;}
.bc_green { border-color: green !important;}
.bc_greenyellow { border-color: greenyellow !important;}
.bc_blue { border-color: blue !important;}
.bc_aqua { border-color: aqua !important;}
.bc_purple { border-color: purple !important;}

.tc_red { color: red;}
.tc_yellow { color: yellow;}
.tc_green { color: green;}
.tc_greenyellow { color: greenyellow;}
.tc_blue { color: blue;}
.tc_aqua { color: aqua;}
.tc_purple { color: purple;}

/* Custom styles for the bright modal */

#uform {
    background-color: #d8dde2; /* Set a bright background color */
}
.modal-header {
    background-color: #007bff; /* Set a bright header background color */
    color: #ffffff; /* Set the text color for the header */
}

.modal-body-more {
    color: #000000; /* Set the text color for the body */
}